/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* main */
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px ;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100%/3);
    padding: 10px;
}
.product{
    padding-bottom: 10px;
    position: relative;
}
.product img{
    width: 100%;
    padding: 8px 0;

}
/* prezzi */
.prezzo-rosso{
    color: red;
    font-weight: bold;
}
.prezzo-barrato{
    text-decoration: line-through;
}
.heart{
    position: absolute;
    text-align: right;
    background-color: white;
    width: 30px;
    top: 30px;
    right: 0;
    padding: 8px;
    z-index: 2;
}
.heart:hover {
    display: block;
    color: red;
    cursor: pointer;
}
.scritta-foto{
    color: white;
    font-size: small;
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    left:0;
    padding: 3px;
    border-radius: 2px;
}
.sconto{
    background-color:#eb0037;
    
}
.sostenibilità{
    background-color: #00875a;
    
}
.sconto1{
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #eb0037;
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 3px;
    border-radius: 2px;
}
.sostenibilità1{
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #00875a;
    position: absolute;
    bottom: 100px;
    left: 40px;
    padding: 3px;
    border-radius: 2px;
}
.img-hover{
    display: none;
}
.product:hover .img-hover{
    display: block;
    width: 100%;
    padding: 8px 0;
    position: absolute;
}